[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mscstexta4r"]
	path = mscstexta4r
	url = https://github.com/philferriere/mscstexta4r
[submodule "mscsweblm4r"]
	path = mscsweblm4r
	url = https://github.com/philferriere/mscsweblm4r
